numpy~=1.26.4
streamlit~=1.37.1
pandas~=2.2.2
pyLDAvis~=3.4.1
matplotlib~=3.9.2
jieba~=0.42.1
gensim~=4.3.3
scikit-learn~=1.5.1
wordcloud~=1.9.3
openai~=1.40.8
tqdm~=4.66.5
plotly~=5.23.0
emoji~=2.12.1
pkuseg~=0.0.25
